doctype html
html(lang='en')
  head
    title AdminX - The last Admin template you'll ever need
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', type='text/css', href='./dist/css/adminx.css', media='screen')
    //
      # Optional Resources
      Feel free to delete these if you don't need them in your project
  body
    .adminx-container
      nav.navbar.navbar-expand.justify-content-between.fixed-top
        a.navbar-brand.mb-0.h1.d-none.d-md-block(href='index.html', style='font-weight: bold;')
          img.navbar-brand-image.d-inline-block.align-top.mr-2(src='./demo/img/logo.png', alt='')
          |                 TIM - HDC - teste
        form.form-inline.form-quicksearch.d-none.d-md-block.mx-auto
          .input-group
            .input-group-prepend
            span.navbar-brand.mb-0.h1.d-none.d-md-block(style='font-weight: bold;')
              | INÍCIO
        //
          <div class="d-flex flex-1 d-block d-md-none">
          <a href="#" class="sidebar-toggle ml-3">
          <i data-feather="menu"></i>
          </a>
          </div>
        ul.navbar-nav.d-flex.justify-content-end.mr-2
          li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.avatar-with-name(data-toggle='dropdown', href='#')
              img.d-inline-block.align-top(src='./demo/img/logout.png', alt='')
            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item.text-danger(href='https://login.microsoftonline.com/common/oauth2/logout?post_logout_redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F') Sign out
      // expand-hover push
      // Sidebar
      .adminx-sidebar.expand-hover.push
        ul.sidebar-nav
          // Início
          li.sidebar-nav-item
            a.sidebar-nav-link.active(href='index.html')
              span.sidebar-nav-icon
                i(data-feather='home')
              span.sidebar-nav-name
                | Início
              span.sidebar-nav-end
          // ###### FINAL ######
          // Daily - Com expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(data-toggle='collapse', href='#example', aria-expanded='false', aria-controls='example')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | Daily
              span.sidebar-nav-end
                i.nav-collapse-icon(data-feather='chevron-right')
            ul#example.sidebar-sub-nav.collapse
              li.sidebar-nav-item
                a.sidebar-nav-link(href='./layouts/dash_daily_p1.html')
                  span.sidebar-nav-abbr
                    | 01
                  span.sidebar-nav-name
                    | Parte 01
              li.sidebar-nav-item
                a.sidebar-nav-link(href='./layouts/dash_daily_p2.html')
                  span.sidebar-nav-abbr
                    | 02
                  span.sidebar-nav-name
                    | Parte 02
              li.sidebar-nav-item
                a.sidebar-nav-link(href='./layouts/dash_daily_p3.html')
                  span.sidebar-nav-abbr
                    | 03
                  span.sidebar-nav-name
                    | Parte 03
          // ###### FINAL ######
          // XTTS - SEM expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(href='./layouts/dash_XTTS.html')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | XTTS
              span.sidebar-nav-end
          // ###### FINAL ######
          // Martim - SEM expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(href='./layouts/dash_Martim.html')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | Martim
              span.sidebar-nav-end
          // ###### FINAL ######
          // Painel HDC - SEM expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(href='./layouts/dash_Painel_HDC.html')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | Painel HDC
              span.sidebar-nav-end
          // ###### FINAL ######
          // Resumo Operacional - SEM expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(href='./layouts/dash_resumo_operacional.html')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | Resumo Operacional
              span.sidebar-nav-end
          // ###### FINAL ######
          // Nova visão - Ofensores - SEM expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(href='./layouts/dash_nova_visao_ofensores.html')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | Nova visão - Ofensores
              span.sidebar-nav-end
          // ###### FINAL ######
          // Ofensores - SEM expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(href='./layouts/dash_ofensores.html')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | Ofensores
              span.sidebar-nav-end
          // ###### FINAL ######
          // Deslocamento - SEM expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(href='./layouts/dash_deslocamento.html')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | Deslocamento
              span.sidebar-nav-end
          // ###### FINAL ######
          // Telefonia - SEM expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(href='./layouts/dash_telefonia.html')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | Telefonia
              span.sidebar-nav-end
          // ###### FINAL ######
          // Pesquisa de Satisfação - SEM expansão
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(href='./layouts/dash_pesquisa.html')
              span.sidebar-nav-icon
                i(data-feather='bar-chart')
              span.sidebar-nav-name
                | Pesquisa de Satisfação
              span.sidebar-nav-end
          // ###### FINAL ######
          // IMOC
          li.sidebar-nav-item
            a.sidebar-nav-link.collapsed(data-toggle='collapse', href='#navForms', aria-expanded='false', aria-controls='navForms')
              span.sidebar-nav-icon
                i(data-feather='settings')
              span.sidebar-nav-name
                | IMOC
              span.sidebar-nav-end
                i.nav-collapse-icon(data-feather='chevron-right')
            ul#navForms.sidebar-sub-nav.collapse
              li.sidebar-nav-item
                a.sidebar-nav-link(href='./layouts/IMOC.html')
                  span.sidebar-nav-abbr
                    | Te
                  span.sidebar-nav-name
                    | Testes
              li.sidebar-nav-item
                a.sidebar-nav-link(href='./layouts/IMOC.html')
                  span.sidebar-nav-abbr
                    | Dev
                  span.sidebar-nav-name
                    | Desenvolvimento
      // Sidebar End
      // adminx-content-aside
      .adminx-content
        .adminx-main-content
          .container-fluid
            // BreadCrumb
            .pb-3
              h1 Dashboard
            .row
              .col-md-6.col-lg-3.d-flex
                .card.mb-grid.w-100
                  .card-body.d-flex.flex-column
                    .d-flex.justify-content-between.mb-3
                      h5.card-title.mb-0
                        | Teste
                      .card-title-sub
                        | 75%
                    .progress.mt-auto
                      .progress-bar(role='progressbar', style='width: 75%;', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100') 3/4
              .col-md-6.col-lg-3.d-flex
                .card.mb-grid.w-100
                  .card-body.d-flex.flex-column
                    .d-flex.justify-content-between.mb-3
                      h5.card-title.mb-0
                        | Open Tasks
                      .card-title-sub
                        | 18/30
                    .progress.mt-auto
                      .progress-bar(role='progressbar', style='width: 60%;', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
              .col-md-6.col-lg-3.d-flex
                .card.border-0.bg-primary.text-white.text-center.mb-grid.w-100
                  .d-flex.flex-row.align-items-center.h-100
                    .card-icon.d-flex.align-items-center.h-100.justify-content-center
                      i(data-feather='bar-chart')
                    .card-body
                      .card-info-title Queries
                      h3.card-title.mb-0
                        | 8
              .col-md-6.col-lg-3.d-flex
                .card.border-0.bg-success.text-white.text-center.mb-grid.w-100
                  .d-flex.flex-row.align-items-center.h-100
                    .card-icon.d-flex.align-items-center.h-100.justify-content-center
                      i(data-feather='users')
                    .card-body
                      .card-info-title Sign Ups
                      h3.card-title.mb-0
                        | 12
            .row
              .col-lg-8
              .col-lg-4
    // If you prefer jQuery these are the required scripts
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')
    script(src='./dist/js/vendor.js')
    script(src='./dist/js/adminx.js')
    // If you prefer vanilla JS these are the only required scripts
    //
      script src="./dist/js/vendor.js"></script>
      <script src="./dist/js/adminx.vanilla.js"></script
